* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
.nav {
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 3rem;
  padding: 0 1rem;
}
.container{
  text-align: center;
  font-size: 3rem;
}
.site-name {
  font-size: 2rem;
}
.nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  /* gap: 10px; */
}
.nav li {
  list-style: none;
}
a.current{
  border-color: #8e4444;
}
.nav a {
  text-decoration: none;
  color: azure;
  height: 100%;
  display: flex;
  align-items: center;
  padding:  10px 15px ;
}

.nav li.active {
  background-color: #9c7d7d;
}
.nav li:hover {
  background-color: #8e4444;
}
